
<section>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form action="/admin/add-product" method="post"  enctype="multipart/form-data">
                <legend>Enter product details</legend>

                <div class="form-group">
                    <label for="first_name"> </label>
                    <input type="text" class="form-control" name="name" id="name" placeholder=" Item Name">
                </div>

                <div class="form-group">
                    <label for="last_name"></label>
                    <input type="text" class="form-control" name="price" id="first_name" placeholder="Price">
                </div>

                <div class="form-group">
                    <label for="last_name"></label>
                    <input type="text" class="form-control" name="category" id="Category" placeholder="Category">
                </div>
                <div class="form-group">
                    <label for="last_name"></label>
                    <input type="text" class="form-control" name="Description" id="first_name" placeholder="Description">
                </div>
                <br>
                <div class="form-group">
                        <label for="exampleFormControlFile1">Image</label>
                         <input type="file" name="Image" class="form-control-file" id="exampleFormControlFile1">
                 </div>
  

                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</section>