
    <section>
        <div class="container mt-5 ">
        <div class="row">
            {{#each flowers}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height: 25rem; ">
                    
                    <h5 class="card-title">{{this.name}}</h5>
  <img src="images/{{this._id}}.jpg" class="card-img-top" style="height: 15rem; p-3" alt="">
  <div class="card-body">
    <p class="card-text">{{this.Description}}</p>
    
    <button onclick="addTocart('{{this._id}}')" class="btn btn-success" >Add to cart</button>
    
  </div>
</div>
            </div>
            {{/each}}
            
            </div>

        </div>
        
        
    </section>

    

    
    