 
<html lang="en" >  
<head>  
  <meta charset="UTF-8">  
  <title> Login  
 </title>
<!-- stylesheet -->  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  
</head> 
<!-- css --> 
<style>  
html {   
    height: 100%;
}  
body {   
    height: 100%;   
}  
.global-container {  
    height: 100%;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
   
    background-size: 100%;
    background-position:cover;
}  
form {  
    padding-top: 2px;  
    font-size: 14px;  
    margin-top: 30px;
}  
.card-title {   
    font-weight: 400px;
 }  
.btn {  
    font-size: 14px;  
    margin-top: 20px;  
}  
.login-form {   
    width: 330px;  
    margin: 20px;
    border-color:white;
}  
.sign-up {  
    text-align: center;  
    padding: 20px 0 0;  
    padding-bottom: 10px;
}  
.alert {  
    margin-bottom: -30px;  
    font-size: 13px;  
    margin-top: 20px;  
}  
.ct{
    background-color: rgb(144, 160, 169);
}
</style>  
<body class="ct">  
<div class=" pt-5">  
  <div class="global-container">  
      <div className="fade-bottom"></div>
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center"> Login </h3>  
        {{#if loginErr}}
                    <p class="error">The password or Email you entered is not valid !</p>
        {{/if}}
        <div class="card-text">  
            <form action="/login" method="post">  
                <div class="form-group">  
                    <label for="exampleInputEmail1"> Enter Email address </label>  
                    <input type="email" class="form-control form-control-sm" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" required>
                </div>  
                <div class="form-group">  
                    <label for="exampleInputPassword1">Enter Password </label>  
                    <input type="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password" required>  
                </div>  
                <button type="submit" class="btn btn-primary btn-block"> Login </button>  
                <a href="#" style="float:right;font-size:12px;"> Forgot password? </a>   
                <div class="sign-up">  
                    Don't have an account? <a href="/signup"> Create One </a>
                    <br>
                    
                    <div>
                    				
                    </div>
                </div>  
            </form>  
        </div>  
    </div>  
</div>  
</div>  
</body>  
</html>
