<section>
    <div class="container">
        <div  class="col-md-12 text-center">
            <p class="text-center"><h4>Order placed successfully</h4></p>
            <a href="/View-orders" class="btn btn-info">View Orders</a>
        </div>
    </div>
</section>