
    <section>
        <div class="container mt-5 ">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3">
                <div class="card" style="width: 15rem; height: 25rem; ">
                    
                    <h5 class="card-title">{{this.products.name}}</h5>
                    <p>Quantity{{this.quantity}}</p>
  <img src="/images/{{this.products._id}}.jpg" class="card-img-top" style="height: 15rem; p-3" alt="">
  <div class="card-body">
    <p class="card-text">{{this.products.price}}</p>
    
    
    
  </div>
</div>
            </div>
            {{/each}}
            
            </div>

        </div>
        
        
    </section>

    

    
    